.underline-anim {
    overflow-x: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 15%;
        left: 0;
        width: 100%;
        // transform: scaleX(0);
        height: 2px;
        background: white;
        transform-origin: 100% 50%;
        transition: transform 0.3s ease-in-out;
    }
    &:hover::after {
        transform: scaleX(0);
    }
}

.grainy-bg {
    // width: 100vw;
    // height: 100vh;
    // filter: contrast(120%) brightness(100%);
    background: url("./grain2.svg"),
        linear-gradient(
            90deg,
            rgb(24, 24, 24),
            rgb(43, 34, 34),
            rgb(44, 44, 44),
            rgb(24, 24, 24),
            rgb(49, 49, 49)
        );
}
