<div class="mt-32">
    <!-- free-mode="true"
                      navigation="true"
     -->
    <swiper-container [ngClass]="{'invisible': lightboxOpen}"
                      slides-per-view="auto"
                      centered-slides="true"
                      speed="500"
                      space-between="20">
        <swiper-slide *ngFor="let image of galleryImages"
                      class="cursor-pointer"
                      style="width: fit-content;"
                      lazy="true"
                      (click)="onSwiperSlideClick($event.target)">
            <gallery-card class="mr-2"
                          [src]="hostUrl + image"></gallery-card>
        </swiper-slide>

        <!-- test slides -->
        <!-- <swiper-slide class="bg-slate-500"
                      style="height: 500px;"
                      *ngFor="let slide of [3, 4, 5, 6, 7]">slide: {{ slide }}</swiper-slide> -->
    </swiper-container>

    <lightbox *ngIf="lightboxOpen"
              (click)="onLightboxClose()"
              [src]="currentImage"
              class="fixed top-0 left-0 w-full h-full bg-slate-500/50 flex justify-center"
              style="z-index: 999; backdrop-filter: blur(1px);"></lightbox>
</div>
