<div class="flex justify-between"
     (click)="navClicked()">
    <button class="text-3xl"
            [ngClass]="{'text-white' : contactRouteActive}"
            routerLink="/">Kinga Chalas</button>

    <div class="flex place-content-center"
         [ngClass]="{'text-white' : contactRouteActive}">
        <div [ngClass]="navVisible ? 'nav-visible' : 'nav-invisible'">
            <button class="p-2"
                    (click)="switchLanguage()">{{lang}}</button>
            <a class="p-2"
               routerLink="/about"
               routerLinkActive="line-through">{{lang === 'en' ? 'about' : 'o mnie'}}</a>
            <a class="p-2"
               routerLink="/work"
               routerLinkActive="line-through">{{lang === 'en' ? 'work' : 'prace'}}</a>
            <a class="p-2"
               routerLink="/contact"
               routerLinkActive="line-through">{{lang === 'en' ? 'contact' : 'kontakt'}}</a>
        </div>

        <div class="bg-white p-2 flex items-center justify-center"
             [ngClass]="{'bg-transparent' : contactRouteActive}">
            <button (click)="toggleNav()"
                    [ngClass]="{'bg-white' : contactRouteActive}"
                    class="bg-black w-5 h-5"></button>
        </div>
    </div>
</div>
